:root {
    --White: hsl(0, 0%, 100%);
    --LightGreen: #dff1e7;
    --Green: #0c7d69;
    --DarkGreen: hsl(120, 100%, 20%);
    --LightGrey: hsl(186, 15%, 59%);
    --Grey: hsl(189, 24%, 22%);
    --Red: hsl(0, 66%, 54%);
}

/* main body */
body {
    font-family: "Karla", sans-serif;
    src: url(../assets/fonts/static/Karla-Regular.ttf);
    background-color: var(--LightGreen);
}
main {
    background-color: var(--White);
    padding: 0.5rem 1.5rem;
    border-radius: 0.8rem;
}
.asterisk {
    color: var(--Green);
}

/* Error message */
.error-message {
    display: none;
    color: var(--Red);
}

/* Success message container styles */
.success-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--DarkGreen);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    z-index: 1000;
}
.success-message {
    font-size: 1.5rem;
    margin: 10px 0;
    color: var(--White);
}
.success-paragraph {
    color: var(--White);
}
.success-content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none; 
}
.success-container + body::before {
    display: block;
}


/* Form Designs */
.input-wrapper {
    margin-top: 1.5rem;
}
input[type=text], input[type=email] {
    width: 95%;
    padding: 0.7rem 0.5rem;
    border: 1px solid #87a3a6;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}
input[type="text"]:focus,
input[type="email"]:focus, textarea:focus {
    outline: none;
    border-color: var(--Green);
}

.input-wrapper:nth-of-type(1),
.input-wrapper:nth-of-type(2),
.input-wrapper:nth-of-type(3),
.input-wrapper:nth-of-type(4),
.input-wrapper:nth-of-type(5) {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Radio box design */
.radio-box {
    width: 95%;
    border: 1px solid #87a3a6;
    padding: 0.7rem 0.5rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.radio-box:hover {
    border-color: #0c7d69;
    background-color: #dff1e7;
}
input[type="radio"] {
    accent-color: #0c7d69;
}
input[type="radio"]:checked {
    background-color: #0c7d69;
}

/* Message or textarea design */
textarea {
    width: 95%;
    height: 8rem;
    padding: 0.7rem 0.5rem;
    border: 1px solid #87a3a6;
    resize: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

/* consent checkbox design */
input[type="checkbox"] {
    appearance: none;
    border: 1px solid #87a3a6;
    background-color: var(--White); /* Fomerly green*/
    width: 1rem;
    height: 1rem;
    border-radius: 0.15rem;
    display: grid;
    place-content: center;
}
input[type="checkbox"]::before {
    content: "";
    width: 0.7rem;
    height: 0.6rem;
    transform: scale(0);
    transition: 120ms ease-in-out;
    box-shadow: inset 1em 1em var(--Green);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type="checkbox"]:checked::before {
    transform: scale(1);
}
.form-control {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* submit button */
input[type="submit"] {
    width: 100%;
    padding: 0.9rem 0.5rem;
    border: 1px solid #87a3a6;
    border-radius: 0.5rem;
    background-color: var(--Green);
    color: var(--White);
    font-size: 1rem;
    margin: 0.5rem 0 0.7rem 0;
}


/* Tablet or Ipad designs starting from width of 700px */
@media (min-width: 43.75rem) and (max-width: 56.2rem) {
    body {
        margin-top: 3rem;
    }
    .first-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 97%;
        gap: 1rem;
    }
    input[type=text], input[type=email] {
        padding: 1rem 0.5rem;
    }

    /* radio box design */
    .input-wrapper:nth-of-type(3) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem; 
        align-items: center;
        width: 97%;
    }
    .input-wrapper:nth-of-type(3) > label:first-of-type {
        grid-column: 1 / -1; 
        line-height: 0.3rem;
    }
    .errors {
        grid-column: 1 / -1; 
        color: red;
    }

    /* Submit button */
    input[type="submit"] {
        width: 97%;
        padding: 1rem 0.5rem;
        margin: 1.5rem 0 1.5rem 0;
        font-size: 1.5rem;
    }
}

/* screen size starting from 900px */
@media (min-width: 56.25rem) {
    body {
        padding: 6rem;
    }
    .first-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 97%;
        gap: 1rem;
    }
    input[type=text], input[type=email] {
        padding: 1rem 0.5rem;
    }

    /* radio box design */
    .input-wrapper:nth-of-type(3) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem; 
        align-items: center;
        width: 97%;
    }
    .input-wrapper:nth-of-type(3) > label:first-of-type {
        grid-column: 1 / -1; 
        line-height: 0.3rem;
    }
    .input-wrapper:nth-of-type(3) .error-message {
        grid-column: 1 / -1; 
        color: red;
    }

    /* Submit button */
    input[type="submit"] {
        width: 97%;
        padding: 1rem 0.5rem;
        margin: 1.5rem 0 1.5rem 0;
        font-size: 1.5rem;
        cursor: pointer;
    }
}